:root {
  --safe-area-top: env(safe-area-inset-top);
  --safe-area-bottom: env(safe-area-inset-bottom);
  --safe-area-left: env(safe-area-inset-left);
  --safe-area-right: env(safe-area-inset-right);
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #ffffff;

  padding-top: 20px;
  padding-top: env(safe-area-inset-top);

  padding-bottom: 0;
  padding-bottom: env(safe-area-inset-bottom);

  height: 100vh;
  box-sizing: border-box;
}

canvas {
  image-rendering: pixelated;
}
